*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

.recipe-bg1 {
    background-image: url("./Img/chicken-tikka-masala-bg.jpg");
    background-size: contain;
    height: 800px;
    background-repeat: no-repeat;
    background-position: right;
}

body{

}


header{

}

/* Nav */




/* End Nav */

main{

}


/* Recepies of the Day */

/* End Recepies of the Day */


/* Recepies  */

/* End Recepies */


/* We love Eat */

/* End We love Eat */


/* Our newest Recepie */

/* End Our newes Recepie */


/* About us */

/* End About us */


/* Newsletter */

/* End Newsletter */

footer{

}

/* Contact */

/* End Contact */