*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

.recipe-bg1 {
    background-image: url("./Img/chicken-tikka-masala-bg.jpg");
    background-size: contain;
    height: 800px;
    background-repeat: no-repeat;
    background-position: right;
}

.recipe-bg2 {
    background-image: url("./Img/stewfinal.jpg");
    background-size: contain;
    height: 800px;
    background-repeat: no-repeat;
    background-position: right;







/* Nav */




/* End Nav */




/* Recepies of the Day */

/* End Recepies of the Day */


/* Recepies  */
.checked {
    color: orange;
}

}